{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a> <!-- #을 사용하지 않고도 모델에 등록된 데이터를 사용할 수 있음-->
<!-- POST(생성), GET(조회), UPDATE(수정), DELETE(삭제) 할때 각각 메소드를 사용한다. 하지만 html에서는 post,get만 제공한다. -->
<!-- 임의로 html에서 제공하는 GET, a 태그 즉, 링크를 사용-->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a> <!-- #을 사용하지 않고도 모델에 등록된 데이터를 사용할 수 있음-->
<a href="/articles">Go to article List</a>

{{>comments/_comments}}

{{>layouts/footer}}